/*Main*/

@font-face {
	font-family: 'sailec-reg';
	src: url(../fonts/Sailec-Regular.otf);
}

@font-face {
	font-family: 'sailec-bold';
	src: url(../fonts/Sailec-Bold.otf);
}

/* 'proxima-nova-soft' weights = 400, 500, 600, 700 */




h1{
	font-family: 'proxima-nova-soft';
	font-weight: 700;
	font-size: 45px;
	color: #1A1A1A;
}

h2{
	font-family: 'sailec-bold';
	font-size: 22px;
	color: #1A1A1A;
}

a{
	color: #ffffff;
}
a:hover{
	color: #F5692F;
	text-decoration: none;
}

body{
	background-color: #ABDBD8;
}

.row, .container-fluid{
	margin: 0 !important;
	padding: 0 !important;
}




/*Navigation*/



.navigation{
	background-color: #A7D7D4;
	height: 240px;
	width: 100%;
	text-align: center;
	position: fixed;
	display: inline-block;
	z-index: 999;
}

.navigation img{
	width: 180px;
	height: auto;
	padding-top: 60px;
}
.navigation img:hover{
	opacity: .85;
}

.navigation p{
	font-family: 'sailec-bold';
	font-size: 16px;
	position: fixed;
	right: 50px;
	top: 60px;
}



/* Section One */


.section1{
	display: inline-block;
	padding-top: 245px !important;
	background-color: #ABDBD8;
	height: 778px;
	width: 100%;
}

.section1 img{
	height: 510px;
	margin-top: 28px;
	margin-left: 100px;
}

.section1 div div{
	width: 100%;
	margin-top: -315px;
}

.section1 h1{
	float: right;
	padding-right: 100px;
}



/* Section Two */

.section2{
	display: inline-block;
	height: 160px;
	width: 100%;
	background-color: #F5F5F5;
}

.section2 div{
	margin-top: 53px;
	padding: 0 50px;
}

.section2 div div{
	margin-top: 0 !important;
	padding: 0;
}

.section2 h2 a{
	color: #75D2E4;
}

.section2 img{
	width: 100px;
	height: 100px;
	float: right;
	margin-top: -73px;
}














/*Media Queries*/


@media (max-width: 1200px){


	.section1 img{
		margin-left: 40px;
	    height: 400px;
	    margin-top: 138px;
	}

	h1{
		font-size: 35px;
	}
}



@media (max-width: 991px){


	.section1{
		padding-top: 240px !important;
	}

	.section2 div{
		margin-top: 72px;
	}
}


@media (max-width: 870px){


	.section1 div div{
		margin-top: -520px;
	}
}




@media (max-width: 590px){

	h1{
		font-size: 30px;
	}

	.section1 h1{
		float: left;
	    padding: 0 50px;
	}

	.section1 div div{
		margin-top: -515px;
	}

	.section1 div div br{
		display: none;
	}




	.section2 div{
		margin-top: 60px;
	}
	.section2 h2{
		padding-right: 130px;
	}

	.section2 img{
		width: 60px;
		height: 60px;
		margin-top: -65px;
	}
}

@media (max-width: 473px){

	.navigation{
		height: 166px;
	}

	.navigation img{
		width: 115px;
		margin: 45px 0 0 25px;
		padding: 0;
		float: left;
	}

	.navigation p{
		right: 40px;
		top: 45px;
	}

	.section1{
		padding-top: 175px !important;
	}
	
	.section1 img{
		margin-left: 50px;
	    height: 350px;
	    margin-top: 188px;
	}

	.section1 div div {
		margin-top: -490px;
	}

	.section1 h1{
		padding: 0 20px;
		font-size: 25px;
	}



	.section2{
		margin-top: -65px !important;
	}

	.section2 h2{
		padding-right: 90px;
	}

	h2{
		font-size: 18px;
	}



	.section2 div{
		margin-top: 70px;
	}
	
}


































