/*Main*/

@font-face {
	font-family: 'sailec-reg';
	src: url(../fonts/Sailec-Regular.otf);
}

@font-face {
	font-family: 'sailec-bold';
	src: url(../fonts/Sailec-Bold.otf);
}

@font-face {
	font-family: 'proxima-nova-soft-bold';
	src: url(../fonts/ProximaNovaSoft-Bold.ttf);
}

/* 'proxima-nova-soft' weights = 400, 500, 600, 700 */




h1{
	font-family: 'proxima-nova-soft', 'proxima-nova-soft-bold';
	font-weight: 700;
	font-size: 45px;
	color: #1A1A1A;
}

h2{
	font-family: 'sailec-bold';
	font-size: 22px;
	color: #1A1A1A;
}

a{
	color: white;

	-webkit-transition: all 200ms; /* For Safari 3.1 to 6.0 */
    transition: all 200ms;
}
a:hover{
	color: #F5692F;
	text-decoration: none;
}

body{
	background-color: #ABDBD8;
}

.row, .container-fluid{
	margin: 0 !important;
	padding: 0 !important;
}




/*Navigation*/



.navigation{
	background-color: #A7D7D4;
	height: 240px;
	width: 100%;
	text-align: center;
	position: fixed;
	display: inline-block;
	z-index: 999;

	
	-webkit-transition: height 500ms; /* For Safari 3.1 to 6.0 */
    transition: height 500ms;
}

.navigation img{
	width: 180px;
	height: auto;
	padding-top: 60px;

    -webkit-transition: width 500ms; /* For Safari 3.1 to 6.0 */
    transition: width 500ms;
}
.navigation img:hover{
	opacity: .85;
}

.navigation p{
	font-family: 'sailec-bold';
	font-size: 16px;
	position: fixed;
	right: 50px;
	top: 60px;

	-webkit-transition: right 500ms; /* For Safari 3.1 to 6.0 */
	transition: right 500ms;
	-webkit-transition: top 500ms; /* For Safari 3.1 to 6.0 */
	transition: top 500ms;
}

.navigation a{
	color: white !important;
}

.navigation a:hover{
	color: #F5692F !important;
}

/* Navigation Small */

.navigation-small{
	height: 166px;
	background-color: #A7D7D4;
	width: 100%;
	text-align: center;
	position: fixed;
	display: inline-block;
	z-index: 999;
}

.navigation-small img{
	width: 115px;
	margin: 45px 0 0 25px;
	padding: 0;
	float: left;
}

.navigation-small p{
	right: 40px;
	top: 45px;
}
.navigation-small a:hover{
	color: #F5692F !important;
}




/* Section One */


.section1{
	display: inline-block;
	padding-top: 245px !important;
	background-color: #ABDBD8;
	height: 778px;
	width: 100%;
}

.section1 img{
	height: 510px;
	margin-top: 28px;
	margin-left: 100px;
}

.section1 div div{
	width: 100%;
	margin-top: -315px;
}

.section1 h1{
	float: right;
	padding-right: 100px;
}



/* Section Two */

.section2{
	display: inline-block;
	height: 160px;
	width: 100%;
	background-color: #F5F5F5;
	margin-bottom: -5px !important;
}

.section2 div{
	margin-top: 53px;
	padding: 0 50px;
}

.section2 div div{
	margin-top: 0 !important;
	padding: 0;
}

.section2 h2 a{
	color: #75D2E4;
}
.section2 h2 a:hover{
	color: #F76920;
}

.section2 img{
	width: 100px;
	height: 100px;
	float: right;
	margin-top: -73px;
}



/* Section Three */

.section3{
	height: 702px;
	width: 100%;
	background-color: #F5692F;
	text-align: center;
}

.section3 h1{
	margin: 0 0 -170px 0;
	padding-top: 120px;
	color: #F2F2F2;
}

.section3 img{
	width: 200px;
	height: auto;
}

.left-column, .right-column{
	padding: 0 25px;
}

.left-column img{
	float: right;
}

.right-column h2, .right-column p{
	float: left;
	text-align: left;
	color: #F2F2F2;
}

.right-column h2{
	margin-top: 18px;
}

.right-column p{
	font-family: 'sailec-reg';
	font-size: 13px;
	line-height: 1.6;
	width: auto;
	margin-top: 30px;
}




/*Slider*/

.cbp-fwslider{
	padding-top: 230px !important;
}

.cbp-fwdots{
	display: none !important;
}

.cbp-fwslider nav span {
	width: 40px !important;
	height: auto !important;
	background-color: transparent !important;
	color: transparent !important;
}

.cbp-fwslider nav span.cbp-fwprev{
	background-image: url('../img/arrow-left.svg');
	background-repeat: no-repeat;
}
.cbp-fwslider nav span.cbp-fwprev:hover{
	background-image: url('../img/arrow-left.svg');
	background-repeat: no-repeat;
}

.cbp-fwslider nav span.cbp-fwnext{
	background-image: url('../img/arrow-right.svg');
	background-repeat: no-repeat;
}
.cbp-fwslider nav span.cbp-fwnext:hover{
	background-image: url('../img/arrow-right.svg');
	background-repeat: no-repeat;
}





/* Section Four */

.section4{
	width: 100%;
	height: auto;
	background-color: #E0E4D0;
}

.section4 h1{
	margin-bottom: 140px;
}

.section4 img{
	width: 400px;
	height: auto;
	margin-top: -40px;
	margin-left: 100px;
}

.section4 div{
	padding-top: 120px;
	padding-bottom: 120px;
}

.section4 div:first-child{
	padding: 120px 0 0 160px;
}

.section4 div div{
	width: 250px;
	padding: 0;
}

.section4 p{
	font-family: 'sailec-reg';
	font-size: 13px;
	line-height: 1.6;
	width: auto;
	margin-top: 30px;
	color: #333333
}









/* Section Five */

.section5{
	background-color: #D8DCC9;
}

.section5 a{
	color: #999999 !important;
}
.section5 a:hover{
	color: #ffffff !important;
}

















/*Media Queries*/


@media (max-width: 1200px){


	.section1 img{
		margin-left: 40px;
	    height: 400px;
	    margin-top: 138px;
	}

	h1{
		font-size: 35px;
	}
}



@media (max-width: 1022px){

	.section4 img{
		width: 300px;
	}
}



@media (max-width: 991px){


	.section1{
		padding-top: 240px !important;
	}

	.section2 div{
		margin-top: 72px;
	}

	.section4 h1{
		margin-bottom: 70px;
	}
}


@media (max-width: 870px){


	.section1 div div{
		margin-top: -520px;
	}

	.section4 img{
		margin-left: 40px;
	}

	.section4 div:first-child{
		padding-left: 60px;
	}
}



@media (max-width: 767px){

	.section4 img{
		width: 200px;
		margin-top: 50px;
	}
}


@media (max-width: 700px){

	.section3 {
		height: 745px;
	}

	.section3 h1{
		padding-top: 80px;
	}

	.section3 img{
		width: 160px;
		margin: 0 auto;
		padding-left: 15px;
	}

	.section3 h2, .section4 h2{
		font-size: 16px;
		padding-top: 20px;
	}
	.section3 p, .section4 p{
		font-size: 10px;
	}

	.right-column, .left-column{
		padding: 0 15px;
		margin: 0 auto;
		float: none;
		text-align: center;
	}

	.left-column img, .right-column h2, .right-column p{
		float: left;
	}

	.cbp-fwslider{
		padding-bottom: 0 !important;
	}
}




@media (max-width: 590px){

	h1{
		font-size: 30px;
	}

	.section1 h1{
		float: left;
	    padding: 0 50px;
	}

	.section1 div div{
		margin-top: -515px;
	}

	.section1 div div br{
		display: none;
	}




	.section2 div{
		margin-top: 60px;
	}
	.section2 h2{
		padding-right: 130px;
	}

	.section2 img{
		width: 60px;
		height: 60px;
		margin-top: -65px;
	}


	.section4 div div{
		width: 200px;
	}

	.section4 img{
		margin-left: 0;
	}
}

@media (max-width: 473px){

	.navigation{
		height: 166px;
	}

	.navigation img{
		width: 115px;
		margin: 45px 0 0 25px;
		padding: 0;
		float: left;
	}

	.navigation p{
		right: 40px;
		top: 45px;
	}

	.section1{
		padding-top: 175px !important;
	}
	
	.section1 img{
		margin-left: 50px;
	    height: 350px;
	    margin-top: 188px;
	}

	.section1 div div {
		margin-top: -490px;
	}

	.section1 h1{
		padding: 0 20px;
		font-size: 25px;
	}



	.section2{
		margin-top: -65px !important;
	}

	.section2 div div{
		margin-top: -8px !important;
		padding: 0px 0 6px 0;
	}

	.section2 h2{
		padding-right: 90px;
	}

	h2{
		font-size: 18px;
	}



	.section2 div{
		margin-top: 70px;
	}



	.section4 img{
		margin-left: -20px;
		width: 150px;
		margin-top: -50px;
	}

	.section4 div:first-child {
	    padding-left: 30px;
	    padding-top: 40px;
	    padding-bottom: 50px;
	}

	.section4 div{
		margin-bottom: 40px;
	}

}


































